# Compiled class file
*.class

*.jks
*.jceks
*.p12
#application-keystore.yml
/Python/

# Log files
logs/

# Build output
/target/
/build/
/out/
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
/.idea_modules/

# Eclipse
.classpath
.project
.settings/

# Gradle
.gradle/
build/

# Maven
target/
pom.xml.*
mvnw
mvnw.cmd

# Spring Boot
/src/~$Common_Exceptions.xlsx
/dependency-reduced-pom.xml

# Streaming Test Files
/src/test/resources/streamingSamples/output/dummy_image_dec.png
/src/test/resources/streamingSamples/output/plainTextDecFile.txt
/src/test/resources/streamingSamples/output/plainTextEncFile.txt
/src/test/resources/streamingSamples/output/plainTextEncFile.png
/src/test/resources/streamingSamples/output/cipherImage.png
